@using MvcCv.Models.Entity
@model List<TblSosyalMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneyimler</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Url</th>
        <th>Icon</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Ad</td>
            <td>@x.Link</td>
            <td>@x.Icon</td>
            <td><a href="/SosyalMedya/SosyalGetir/@x.ID" class="btn btn-success">Düzenle</a></td>
            <td><a href="/SosyalMedya/SosyalSil/@x.ID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/SosyalMedya/YeniSosyal/" class="btn btn-primary">Yeni Sosyal Medya Ekle</a>